/*粗*/
/*
@font-face {
  font-family: 'PingFangSC-Medium';
  src: url('../font/PingFang Bold.ttf');
  font-weight: normal;
  font-style: normal;
}
*/
/*中等*/
/*
@font-face{
  font-family: 'PingFang-SC-Regular';
  src: url('../font/PingFang Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
*/
/*细*/
/*
@font-face{
  font-family: 'PingFang-SC-Light';
  src: url('../font/PingFang Light.ttf');
  font-weight: normal;
  font-style: normal;
}
*/
/*最细*/
/*@font-face{
  font-family: 'PingFangSC-ExtraLight';
  src: url('../font/PingFang ExtraLight.ttf');
  font-weight: normal;
  font-style: normal;
}
*/